%h4 Add a comment
= form_for [post, comment] do |f|
  .form-group
    = f.label :body, class: 'sr-only'
    = f.text_field :body, class: 'form-control', placeholder: "Enter a new comment"
  = f.submit "Submit Comment", class: 'btn btn-default pull-right'
