<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<button type="button" class="btn btn-secondary btn-lg"><%= link_to "Follow me", "https://twitter.com/TheLunaKang" %></button>
