- if current_user
  .vote-arrows.pull-left
    %div= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post
    %div
      %strong= post.points
    %div= link_to " ", post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post
